#session-label,
#break-label,
#timer-label,
.app-title {
	font-family: "Permanent Marker", cursive;
}
.digital {
	font-family: "Digital-7";
}
.button-control {
	font-family: "Digital-7";
}
body {
	background-color: lightseagreen;
	@media (min-width: 660px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
